/* Reset */
html, body, ul, ol, li, form, fieldset, legend
{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p { margin: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
li { list-style: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table { border-collapse: collapse;border-spacing: 0; }
caption, th, td
{ text-align: left; vertical-align: top; font-weight: normal; }
input, textarea, select
{ font-size: 110%; line-height: 1.1; }
abbr, acronym
{ border-bottom: .1em dotted; cursor: help; }

/* Body */
body{
	background-image: url(../img/BackgroundPatternLight.png);
}

#wrapper {
	max-width: 920px;
	margin: 0 auto;
	color: #1B2F3A;
}

.sans-serif {
	font-family: 'museo sans', helvetica, arial, sans-serif;
}

.serif {
	font-family: 'brandon grotesque', 'times new roman', serif;
}

h1.sans-serif {
	font-size: 24px;
	padding: 35px 35px 0px 35px;
	margin-top: 35px;
}

.border {
	border-bottom: 6px solid #FEBE12;
	width: 88px;
	margin: 35px;
	float: left;
	display: block;
}

section {
	clear: both;
}

h2.serif {
	font-size: 415%;
	font-weight: 500;
}

.left {
	float: left;
}

ul.sans-serif {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin: 34.20px 0px;
	display: inline-block;
}

li.left {
	margin-left: 60px;
	font-size: 14px;
	font-weight: 500;
}

li:first-child {
	margin-left: 20px;
}

li.bold {
	font-weight: 600;
}

/* Link Styling */

section a:link {
	color: #E85C41;
	text-decoration: underline;
	padding: 0px;
}

section a:hover {
	background-color: transparent;
	color: #DB3A1B;
	font-weight: normal;
}

section a:visited {
	color: #E85C41;
}

section a:active {
	color: #E85C41;
	text-decoration: underline;
	padding: 0px;
}

li a:link {
	color: #1B2F3A;
	text-decoration: none;
	padding: 13px 7px;
}

li a:visited {
	text-decoration: none;
	color: #1B2F3A;
}

li a:hover {
	background-color: white;
	font-weight: 700;
}

li a:active {
	text-decoration: none;
}
