<section class="accordian">
	<div>
		<h3>History. (Florence Nightingale)</h3>
		<p>
			Creativity is an evolution of past creations. Humans have created a lot in the last century. Understanding their work can help us with easier problems so we can innovate to solve the harder ones affecting our users. Reflecting on our own processes is also important to sustainability.
		</p>
	</div>
	<div>
		<h3>Invention and Destruction. (Dali Lama)</h3>
		<p>
			To create, one must destroy. Like a sand mandala, I like to get immersed in my work, focusing painstakingly on the user experience. Through the process learning, mistakes happen. Then it’s time to adapt and create again.
		</p>
	</div>
	<div>
		<h3>Speed. (Mcarlean)</h3>
		<p>
			I believe limitations breed growth. Of the common technology limitations - time, scope, and money, I’ve found setting deadlines increases output. Volume is important to improve. Remember to reflect and use automation should be used for non-user tasks.
		</p>
	</div>
	<div>
		<h3>Writing. (Vincent Van)</h3>
		<p>
			I write to share and organize. Writing is the language of technology. It’s efficiency is unparalleled when communicating purpose to users in a limited time.
		</p>
	</div>
	<div>
		<h3>Kindness. (QZ Italian guy)</h3>
		<p>
			People matter. They are the most important to me. Employees and users must be respected. When I create business models, at their foundation, it’s most important to put incentives favoring the people using our product, because without them, we are nothing.
		</p>
	</div>
</section>
