<!-- Default Navigation-->
<header id="naviation">
  <div class="left">
    <h1 class="sans-serif"><a href="/">Tripathi</a></h1>
    <span class="border"></span>
  </div>
  <nav class="right">
    <ul class="sans-serif">
      <li class="left {% if page.url== '{{site.baseurl}}/personal' %}current{% endif %}"><a href="/personal">Personal</a></li>
      <li class="left {% if page.url== '{{site.baseurl}}/codekit' %}current{% endif %}"><a href="/codekit">Code Kit</a></li>
      <li class=" bold left"><a href="http://www.tinyletter.com/vest">Connect</a></li>
    </ul>
  </nav>
</header>
