*
  box-sizing: border-box

section.accordian
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  align-content: center
  min-height: 50vh
  max-height: 60vh
  width: 60vw
  opacity: 0
  margin: 0 auto
  div
    margin-left: 5px
    margin-right: 5px
    border-radius: 3px
    background: rgba(220, 220, 220, 0.5)
    transition: all 200ms ease-in-out 50ms
    font-family: Helvetica, Arial, Sans-Serif
    font-weight: 500
    cursor: pointer
    font-size: 16pt
  .default
    height: 50vh
    width: 10vw
    color: rgba(255, 255, 255, 0)
    font-size: 16pt
    overflow: hidden
  .expand
    height: 50vh
    width: 100vw
    background: #7ab7ff
    color: white
    padding: 20px
